* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    display: grid;
    grid-template-rows: 200px 1fr 30px;
    height: 100vh;
    margin: 0;
    background-color: lightskyblue;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
}

h1 {
    margin: 20px auto 20px auto;
    font-size: 50px;
}

div.input {
    display: flex;
    justify-content: center;
}

input {
    background-color: white;
    margin: 5px;
    margin-bottom: 15px;
    font-size: 18px;
}

input[type="text"] {
    width: 30%;
}

input[type="submit"] {
    width: 15%;
}

.reviews {
    display: flex;
    align-items: center;
    flex-direction: column;
}

article {
    margin: 10px;
    background-color: white;
    width: 60vw;
    box-shadow: 10px 5px 5px darkblue;
}

article * {
    background-color: white;
}

div#header {
    width: 100%;
    padding: 5px;
}

div#top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button#pin {
    justify-self:flex-end;
    padding: 0;
    font-size: 12px;
    height: 20px;
    width: 20px;
}

h2, h3 {
    margin: 5px 0px 5px 10px;
    text-transform: capitalize;
}

h2 {
    font-size: 22px;
}

h3 {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
}

div#body {
    width: 100%;
    font-size: 18px;
    padding: 5px 5px 15px 5px;
}

#summary {
    margin: 0;
    padding: 0px 10px 10px 10px;
}

.url {
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
}